<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        code {
            font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
            monospace;
        }

        .App {
            text-align: center;
            background-color: #282c34;
            min-height: 100vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: calc(10px + 2vmin);
            color: white;
        }

        .Info-block {
            border-right: 1px solid white;
            padding: 20px;
        }

        .Small {
            font-size: smaller;
            color: gray;
        }
    </style>
    <title>HomeInfoServer</title>
</head>
<body>
    <div class="App">

        <div class="Info-block">
            <div><b>{{weather.date}}</b></div>
            <div>{{weather.temp}}</div>
            <div class="Small">{{weather.feelslike}}</div>
            <div>{{weather.humidity}}</div>
            <div>{{weather.windspeed}}</div>
            <div class="Small">📈{{weather.tempTomorrow}}</div>
        </div>
        <div class="Info-block">
            <div>🗑️</div>
            <div>{{waste.type}}</div>
            <div>{{waste.dateSimple}}</div>
            <div>{{waste.day}}</div>
        </div>
    </div>
</body>
</html>
